<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyChess</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<script type="module">
</script>
<script type="module" src="js/script.js"></script>
<script type="module" src="js/moves.js"></script>
<header>
    <h1 class="title">My Chess</h1>
    <nav class="menu">
        <ul class="menu-list">
            <li class="menu-list-item"><a href="#">Home</a></li>
            <li class="menu-list-item"><a href="#">Account</a></li>
            <li class="menu-list-item"><a href="#">History</a></li>
        </ul>
    </nav>
</header>
<main>
    <h2>Player <%= username %></h2>
    <div class="select-wrap">
        <form class="settings">
            <label for="select-player">Choose player:</label>
            <select id="select-player" name="select-player">
                <% users.forEach((user) => { %>
                <option class="player-option" value="<% user.username %>">
                    <%= user.username %>
                </option>
                <% }); %>
            </select>
            <label for="select-side">Choose your side:</label>
            <select id="select-side" name="select-side">
                <option class="side-option" value="whites">Whites</option>
                <option class="side-option" value="blacks">Blacks</option>
            </select>
            <button>Ok</button>
        </form>
    </div>
    <div class="board-list" id="board-list"></div>
</main>
<footer class="footer">
    &copy; 2022 Heorhii Sanchenko
</footer>
</body>
</html>
