:root {
    --fav: #deaa00;
    --dark-green: #3f6934;
    --menu-hover: #ffeb0f;
    --light-green: #79a65e;
    --blacks: #9bc482;
    --green: #61944b;
    --whites: #fff7a1;
    --moves: #c29b00;
    --moves-dark: #e0bb00;
    --kills: #a85700;
    --kills-dark: #de7300;
}

body {
    font-size: 17px;
    margin: 0;
}

.title {
    color: #fff;
    background-color: var(--dark-green);
    margin: 0;
    padding: 10px 40px;
}

.menu {
    background-color: var(--light-green);
    padding: 10px 0;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding-left: 20px;
}

.menu-list-item {
    list-style-type: none;
    margin: 0 20px;
}

.menu-list-item > a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    font-family: Arial, sans-serif;
    text-shadow: -2px 2px 2px #000;
}

.menu-list-item > a:hover {
    color: var(--menu-hover);
}

.board-list {
    border: 10px solid #000;
    padding: 0;
    margin: 20px auto;
    width: fit-content;
}

.board-row {
    display: flex;
    margin: 0;
    padding: 0;
}

.index {
    position: absolute;
    font-size: 10px;
}

.black,
.white {
    font-size: 40px;
    width: 60px;
    height: 60px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    list-style-type: none;
    box-sizing: border-box;
}

.black {
    background-color: var(--blacks);
}

.white {
    background-color: var(--whites);
}

.piece {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}

.white > piece {
    border: 3px solid var(--whites);
}

.black > piece {
    border: 3px solid var(--blacks);
}

.piece:hover {
    cursor: pointer;
    border: 3px solid #ff0000;
}

.highlight {
    border: 3px solid #0000ff;
}

#highlight {
    border: 3px solid #0000ff;
}

.select-wrap {
    margin: 10px auto;
    width: 20%;
}

.white.move {
    box-shadow: inset -10px 10px 10px var(--moves), inset 10px -10px 10px var(--moves);
}


.black.move {
    box-shadow: inset -10px 10px 10px var(--moves-dark), inset 10px -10px 10px var(--moves-dark);
}

.black.kill {
    box-shadow: inset -10px 10px 10px var(--kills-dark), inset 10px -10px 10px var(--kills-dark);
}

.white.kill {
    box-shadow: inset -10px 10px 10px var(--kills), inset 10px -10px 10px var(--kills);
}

.footer {
    color: #777;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 17px;
}

.login-back {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(20px);
}

.login-form {
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 2px #999, -2px -2px 2px #999;
    position: relative;
    width: 20%;
    height: fit-content;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 40px;
    border-radius: 7px;
    transition: ease all 0.5s;
}

.login-signup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.login-title {
    font-size: 24px;
    font-weight: 550;
    background: none;
    color: inherit;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    outline: inherit;
    width: 50%;
}

.login-title:hover {
    background-color: #ededed;
}

.underline {
    border-bottom: 6px solid var(--dark-green);
}

.login-ok-btn {
    background-color: var(--blacks);
    box-shadow: -4px 4px 4px #777;
    border: none;
    border-left: 3px solid var(--dark-green);
    border-bottom: 3px solid var(--dark-green);
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
    padding: 6px;
    margin: 15px 40px 4px;
    font-family: Arial, sans-serif;
    text-shadow: -1px 1px 1px #000;
}

.login-ok-btn:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--menu-hover);
}

.input-wrap {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}

.log-form-input {
    margin-top: 8px;
    box-shadow: inset -2px 2px 2px #ddd, inset 2px -2px 2px #ddd;
    border: 0.5px solid #777;
    border-radius: 2px;
    height: 16px;
    padding: 5px;
}

@media screen and (max-width: 760px) {
    .login-form {
        width: 34%;
        margin: 170px 26%;
        padding: 30px 40px;
        transition: ease all 0.5s;
    }
}

@media screen and (max-width: 560px) {
    .login-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-title {
        width: 80%;
    }

    .login-ok-btn {
        margin: 15px 20px 4px;
        transition: ease all 0.5s;
    }
}

@media screen and (max-width: 360px) {

    .login-title {
        font-size: 16px;
        transition: ease all 0.5s;
    }

    .login-ok-btn {
        margin: 15px 5px 4px;
        font-size: 16px;
        transition: ease all 0.5s;
    }
}
